@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";

<!-- NAVIGATION BAR-->

.navbar-inverse
{
	background-color:black;
	border-color:red;
	padding:5px 5px;
}

.mynavbar
{

    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

li.dropdown:hover > .dropdown-menu 
{
    display: block;
}

<!-- PANEL SECTION -->


#features img
{
	margin:0 0 20px;
}

p
{
	text-align:center;
}
h3
{
	text-align:center;
}


/* Space out content a bit */
#reg {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.fullscreen_bg1 {
    position: relative;
    top-margin: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://besttimetovisitindia.files.wordpress.com/2013/03/south-india-tour-operator-3.jpg');
    background-repeat:repeat;
  }
  
  <!-- LOGIN FORM -->
  
#log
 {
 	padding-top:100px;
 }
.need-help
{
    margin-top: 1px;
}

<!-- footer-->
 
 footer
 {
 		background-color:black;
 		color:#eee;
 		font-size:11px;
 		padding:20px;
 }
  ul.unstyled
  {
  	list-style:none;
  	padding:0;
  }
 
 <!-- contact us  -->
 
 #con
   {
  		 margin-top:200px;
   }